.staffgrid {
    
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .staffgrid:after {

    content: '';
    display: block;
    clear: both;
  }
  
  .staffgrid__item {

    position: relative;
    float: left;
    width: 100%;
    height: 275px;
    box-sizing: border-box;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    border: 1px solid black;
  }

  .staffgrid__item:nth-of-type(3n + 5) {

    height: 247.5px;
  }

  .staffgrid__item:hover .staffgrid__item-title {
    
    transition: 0.5s;
    bottom: 0;
  }

  .staffgrid__item:hover {

    opacity: 0.7;
  }

  @media (min-width: 320px) {

    .staffgrid__item {

      width: 50%;
    }

    .staffgrid__descriptor {

      padding-bottom: 0px !important;
      padding-top: 0px !important;
    }

    p {
      margin-top: -19px;
    }

    #one {

      margin-top: 139px    
    }

    #two {

      margin-top: 139px;
    }

    #three {

      margin-top: -27px;
    }

    #eight {

      margin-top: 0px !important;
    }

    #nine {

      margin-top: -28px !important;    }
  }

  @media (min-width: 360px) {

    .staffgrid__item {

      width: 50%;
    }

    .staffgrid__descriptor {

      padding-bottom: 0px !important;
      padding-top: 1rem !important;
    }

    p {
      margin-top: -6px;
    }

    #one {

      margin-top: 139px    
    }

    #two {

      margin-top: 139px;
    }

    #three {

      margin-top: -27px;
    }

    #eight {

      margin-top: 0px !important;
    }

    #nine {

      margin-top: -28px !important;    }
  }

  @media (min-width: 375px) {

    .staffgrid__item {

      width: 50%;
    }

    .staffgrid__descriptor {

      padding-bottom: 0px !important;
      padding-top: 1rem !important;
    }

    p {
      margin-top: -6px;
    }

    #one {

      margin-top: 139px    
    }

    #two {

      margin-top: 139px;
    }

    #three {

      margin-top: -27px;
    }

    #eight {

      margin-top: 0px !important;
    }

    #nine {

      margin-top: -28px !important;    }
  }

  @media (min-width: 400px) {

    .staffgrid__item {

      width: 50%;
    }

    #one {

      margin-top: 139px    
    }

    #two {

      margin-top: 139px;
    }

    #three {

      margin-top: -27px;
    }

    #eight {

      margin-top: 0px !important;
    }

    #nine {

      margin-top: -28px !important;    }
  }

  @media (min-width: 411px) {

    .staffgrid__descriptor {

      padding-bottom: 3.5rem !important;
    }
  }

  @media (min-width: 414px) {

    .staffgrid__descriptor {

      padding-bottom: 2.2rem !important;
    }

    p {
      margin-top: 0px;
    }
  }

  @media (min-width: 640px) {

    .staffgrid__item {

      width: 25%;
    }
  }

  @media (min-width: 768px) {

    #one {

      margin-top: 0px;
    }

    #two {
    
      margin-top: 451px;
    }

    #three {
    
      margin-top: 451px;
    }

    #eight {
    
      margin-top: -522px !important;
    }

    #nine {
    
      margin-top: -247px !important;
    }

    #ten {
    
      margin-top: -319px !important;
    }
  }
  
  .staffgrid__item-title {

    transition: 0.5s;
    position: absolute;
    right: 0;
    bottom: -100%;
    left: 0;
    padding: 1rem 0.5rem;
    margin: 0;
    color: rgb(202, 125, 37);
    text-align: center;
    border-top: 0.5rem solid black;
    background-color: #3a3c44;
  }
  
  .staffgrid__item-socials {

    transition: 0.5s;
    position: absolute;
    right: 0;
    top: -62px;
    left: 0;
    padding: 1rem 0.5rem;
    margin: 0;
    color: rgb(202, 125, 37);
    text-align: center;
    border-bottom: 0.5rem solid black;
    background-color: #3a3c44;
    display: flex;
    justify-content: space-between;
  }

  .staffgrid__item:hover .staffgrid__item-socials {

    top: 0px;
    transition: 0.5s;
  }

  .staffgrid__descriptor {

    position: absolute;
    left: 0;
    top: 275px;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    color: white;
    background: black;
    border: 1px solid black;
    z-index: 1;
  }

  @media (min-width: 640px) {

    .staffgrid__descriptor {
      
      left: 25%;
      width: 50%;
    }
  }
